.header{
  background:#333;
  color:#fff;
  padding:10px 20px;
  display:flex;
  position:relative;
  left:50%;right:50%;
  margin-left:-50vw;
  margin-right:-50vw;
  width:100vw;
  margin-bottom:0; /* ensure no extra gap under header */
}

.nav-items{
  display:flex;
  gap:30px
}

.nav-items a{
  color:inherit;
  text-decoration:none
}

.nav-items a:hover{
  text-decoration:underline
}
